<body>
<div id="container">
<div id="main">
<%- include("header"); -%>

<% let about=""; %>
<% let news=""; %>
<% let gallery=""; %>
<% let home=""; %>
<% let branches=""; %>

<ul class="topnav">
  <li><a class="<%= branches %>" href="/branches">Our Branches</a></li>
  <li><a class="<%= donate %>" href="/donate">Donate</a></li>
  <li><a class="<%= gallery %>" href="/gallery">Gallery</a></li>
  <li><a class="<%= news %>" href="/news">News</a></li>
  <li><a class="<%= about %>" href="/about">About</a></li>
  <li><a class="<%= home %>" href="/">Home</a></li>
</ul>

<form class="box" action="/donate" method="post">
  <h1>Donation</h1>
  <input type="text" name="u_name" placeholder="Username" autocomplete="off">
  <input type="password" name="u_pass" placeholder="Password">
  <input type="Number" name="u_amout" placeholder="Enter Amount">
  <input type="submit" name="" value="Donate">
</form>

<div class="feel">
  <p>If you have any queries,feel free to contact us at npa14@gmail.com</p>
</div>


<%- include("footer"); -%>
